* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  display: flex;
}
.header {

  color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url(./gundam-ultrawide-green-eyes-anime-glowing-eyes-hd-wallpaper-thumb.jpg);
  background-position: center;
  height: 100px;
  align-items: center;
  position: fixed;
  z-index: 1;
}
.header:hover {
  background-image: url(./mirrorheader.jpg);
  transition: 0.5s;
}
.left {
  flex: 1;
}
.left a {
  text-decoration: none;
  color: white;
  margin-left: 150px;
}
.middle h1 {
  padding: 20px 0px 20px 0px;
}
.middle a {
  color: white;
  text-decoration: none;
}
.middle {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.right {
  flex: 1;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.right a {
  text-decoration: none;
  color: white;
}
.right svg {
  height: 23px;
  padding-left: 5px;
  padding-bottom: 4px;
}
.search svg {
  height: 25px;
  margin-left: 50px;
  padding-top: 2px;
  cursor: pointer;
}
.banner {
  margin-top: 100px;
  background-image: url(./banner.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 500px;
}
.sale {
  font-weight: bold;
  font-size: 4em;
  position: absolute;
  margin: 180px 0px 0px 80px;
}
.everything {
  font-size: 2em;
  position: absolute;
  margin: 250px 0px 0px 82px;
  letter-spacing: 0.5em;
}

.mess {
  font-size: 1.2em;
  position: absolute;
  margin: 300px 0px 0px 82px;
}
.policy {
  background-color: rgb(226, 221, 221);
  margin-top: 600px;
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px 0px 50px;
  height: 70px;
}
.freeship {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.trucklogo svg {
  height: 25px;
  padding-right: 10px;
}
.time {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.clock svg {
  box-sizing: content-box;
  padding-right: 10px;
  height: 25px;
}
.exchange {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.wallet svg {
  box-sizing: content-box;
  padding-right: 10px;
  height: 25px;
}
.maintype {
  position: absolute;


  width: 85%;

  display: flex;
  flex-direction: row;
  margin: 700px 100px 0px 100px;
  justify-content: center;
  height: 350px;
}
.newproducts {  font-size: 1.75em;
  color: white;

  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2px;
  background-image: url(./zaku.jpg);
  background-position: center;
  background-size: cover;
}
.np {margin-top: 300px;

padding-right: 140px;}
.bs{margin-top: 300px;

  padding-right: 120px;}
.sp {margin-top: 300px;

  padding-right: 120px;}

.bestseller {  font-size: 1.75em;
  color: white;

  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2px;
  background-image: url(./782.jpg);
  background-position: center;
  background-size: cover;
}

.saleproducts {
  font-size: 1.75em;
  color: white;

  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2px;
  background-image: url(./dynames.jfif);
  background-position: center;
  background-size: cover;
}
.arrow svg {border:ridge;
  border-radius: 50%;
  height: 30px;
  margin-top: 295px;
  cursor: pointer;

}
.arrow svg:hover{
  border: ridge;
  color: black;
  background-color: white;
  transition: 0.5s;
  
}
.opt{
 position: absolute;
 margin-top: 1100px;
 width: 100%;
 display: flex;
 flex-direction: row;
 justify-content: center;
 font-size: 4em;
 font-weight: 500;
}
.op{
   position: absolute;


  width: 85%;

  margin: 1200px 100px 0px 100px;

  height: fit-content;
 display: flex;
 flex-direction: row;
 justify-content: center;
 flex-wrap: wrap;

}
.sampleproducts { 
height: fit-content;

  background-color: rgb(250, 233, 233);
  margin: 10px;
  width: fit-content;
}
.sampleproducts img{ 
height: 250px ;

}
.name {
  margin: 10px ;
}
.price {
  margin: 10px ;
}
.footer{
  position: absolute;
  background-color: black;
  margin-top: 2900px;
  width: 100%;
  height: 200px;
  color: rgb(114, 112, 112);
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 50px;
}
.fb{position: absolute;
 margin: 3005px 0px 0px 600px;
  height: 40px;
  cursor: pointer;

}
.yt{position: absolute;
  margin: 3000px 0px 0px 647px;
   height: 50px;
   cursor: pointer;
 }
 .ig{position: absolute;
  margin: 3000px 0px 0px 700px;
  height: 50px;
  cursor: pointer;
 }
 .leftproduct{
  margin: 10px ;
  font-size: 12px;
 }
 .sampleproducts button{
   margin: 10px ;
 
   background-color: rgb(120, 120, 252);
   width: 50%;
   cursor: pointer;
 }
